html, body {
    background: #F6F6F5;
    font-family: 'Inter', 'Helvetica Neue', 'Helvetica', sans-serif;
    padding: 0;
    margin: 0;
    overflow: hidden;
    overflow-y: auto;
}

main {
    width: 100%;
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .portrait {
    height: 130px;
    width: 130px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0;

    border: 6px solid white;
    box-shadow: rgba(0,0,0,0.2) 0px 8px 40px;


}
header img {
    width: 100%;
    transform: scale(1.05) translate(0px, -12px);
}

header h1 {
    font-size: 20px;
    color: #101010;
    letter-spacing: -0.7px;
    text-align: center;
    margin-bottom: 2px;
}

header h2 {
    font-weight: 500;
    font-size: 14px;
    color: #434343;
    text-align: center;
    margin-top: 0;
}

.current-links {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.link-container {
    display: block;

    width: 94%;
    margin: 14px 3%;
    border-radius: 10px;
    padding: 20px 12px;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;

    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
}
.link-container.youtube {
    background: #FF595A;
}
.link-container.twitter {
    background: #69B9F1;
}

.link-container.post {
    background: #16a085;
}


.link-container img {
    margin-right: 20px;
}


.social-links-wrapper {
    margin: 20px 0;
}

.social-links {
    background: #FAFAFA;
    width: 100%;
    border: 1px solid #E9E9E9;
    padding: 16px 0;
    margin-bottom: -1px;
}
.social-links-icons {
    max-width: 200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
#music-links {
    max-width: 170px;
}

h3 {
    color: #3A3A3A;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 10px;
    margin: 0;
    margin-bottom: 14px;
}

.current-links h3 {
    text-align: left;
    width: 94%;
    margin: 4px 3%;
    color: #606060;
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
}
footer a {
    text-align: center;
    color: #303030;
    font-size: 12px;
}